{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-transform-runtime"],
    "env": {
        "cover": {
            "plugins": [
                "@babel/plugin-transform-runtime",
                "istanbul"
            ]
        }
    },
    "ignore": [
        "coverage",
        ".nyc_output",
        "node_modules"
    ]
}
